.Button {
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    background-color: #e04508;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    transition: all .3s;
    margin: 0 5px;
}
