.CartForm {
    width: 500px;
    margin-bottom: 50px;
}
.CartForm label {
display: block;
margin-bottom: 5px;
color: #fff;
}
.CartForm input {
padding: 10px 5px;
margin-bottom: 10px;
width: 500px;
outline: none;
border: 2px solid transparent;
}
input:focus {
    border: 2px solid #e74c3c;
}

.CartForm button {
    padding: 10px 15px;
    background-color: #e74c3c;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}